asn1crypto==1.5.1
Babel==2.12.1
certifi==2023.11.17
cffi==1.15.1
chardet==5.1.0
cryptography==41.0.5,<43
Django==3.2.24  # Upgrade from 1.11 (LTS version)
django-haystack==3.2.1  # Updated to latest supported version
django-phonenumber-field==7.0.2
et-xmlfile==1.1.0
future==0.18.3
idna==3.6
jdcal==1.4.1
lxml==4.9.3
mysqlclient==2.2.0
oauthlib==3.2.2
openpyxl==3.1.2
phonenumbers==8.13.25
protobuf==4.25.1
pycparser==2.21
PyJWT==2.8.0
PyMySQL==1.1.0
pyOpenSSL>=24.0.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.4.0
six==1.16.0
urllib3==2.1.0
Whoosh==2.7.4
xlrd==2.0.1
